@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.nav-bar {
    display: flex;
    list-style: none;
    align-self: center;
    padding: 20px;
  }
  
  .nav-bar details {
    border: 4px solid rgb(237, 222, 54);
    background-color: rgb(154, 82, 66);
    width: 15%;
    padding: 5px;
    position: fixed;
    top: 20px;
    color: white;
    font-family: 'MedievalSharp';
    z-index: 1;
  }
  
  .nav-bar summary {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    border: 1px solid rgb(237, 222, 54);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 23px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
  }

  .nav-bar summary::before {
    /* color: transparent; */
    content: attr(data-text);
    position: relative;
    color: white;
    width: 0%;
    overflow: hidden;
    transition: 0.75s;
    -webkit-text-stroke: 0.2px white;
  }

  .nav-bar summary:hover::before {
    content: attr(data-text); 
    width: 16%;
    filter: drop-shadow(0 0 60px white);
  }
  
  /* add more distance */
  .nav-bar summary::marker {
    /* display: flex;
    justify-content: start;
    margin-right: 20px; */
    /* font-size: 0.5em; */
  }
  
  .nav-bar li a {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 2em;
    /* color: transparent; */
    color: white;
    letter-spacing: 1.5px;
  }
  
  .nav-bar li a {
    text-decoration: none;
    position: relative;
  }

  /* .nav-component {
    display: grid;
    grid-template-columns: 1fr 3fr;
  } */
  
  /* hover response */
  
  .menu-container li a::before {
    /* color: transparent; */
    content: attr(data-text);
    position: absolute;
    color: rgb(237, 222, 54);
    width: 0%;
    overflow: hidden;
    transition: 0.75s;
    /* border-right: 1.5px solid rgb(237, 222, 54); */
    -webkit-text-stroke: 1px rgb(237, 222, 54);
  }
  
  .menu-container li a:hover::before {
    content: attr(data-text); 
    width: 100%;
    /* width: 100%; */
    filter: drop-shadow(0 0 10px rgb(237, 222, 54));
  }

  /* .menu-container li::after {
    content: attr(data-text); 
    width: 100%;
    /* width: 100%; */
    /* filter: drop-shadow(0 0 5px rgb(237, 222, 54)); */
  /* } */ 
  